<!-- neumatic\apps\maestros\templates\maestros\valida_form.html -->
{% extends 'maestro_form.html' %}
{% load static %}
<!-- -------------------------------------------------------------------- -->
{% block maincomponent %}
	{% block principalcomponent %}
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid">
					
					<div class="card border-light mb-3 mt-2">
						<div class="card-header text-white bg-primary opacity-75 d-flex 
									justify-content-between">
							{{ accion }}
							<div class="flex align-items-center">
								<a 
									class="me-2 text-white" 
									data-bs-toggle="modal" 
									data-bs-target="#helpModal" 
									style="cursor: pointer;">
								<i class="bi bi-question-lg"></i></a>
								
								<button type="button" class="btn-close btn-close-white" 
									aria-label="Close"
									onclick="window.location.href='{% url list_view_name %}'">
								</button>
							</div>
						</div>
						
						<div class="card-body bg-body-secondary">
							<form method="post" enctype="multipart/form-data" novalidate>
								{% csrf_token %}
								<div class="accordion" id="accordionPanelsStayOpenExample">
									<!-- Estructura generada -->
									
									<div class="accordion-item">
										<h2 class="accordion-header">
											<button 
												class="accordion-button py-2 " 
												type="button" 
												data-bs-toggle="collapse" 
												data-bs-target="#Información_del_Punto_de_Venta" 
												aria-expanded="true" 
												aria-controls="Información_del_Punto_de_Venta">
												<strong>Información de Validación</strong>
											</button>
										</h2>
										<div class="accordion-collapse collapse show"
											id="Información_del_Punto_de_Venta">
											<div class="accordion-body bg-secondary-subtle">
												<div class="row">
													<div class="col-md-2">
														<label class="form-label text-primary mb-0" for="{{ form.estatus_valida.id_for_label }}">
															{{ form.estatus_valida.label }}
														</label>
														{{ form.estatus_valida }}
													</div>
													
													<div class="col-md-4">
														<label class="form-label text-primary mb-0" for="{{ form.id_sucursal.id_for_label }}">
															{{ form.id_sucursal.label }}
														</label>
														{{ form.id_sucursal }}
													</div>
													
													<div class="col-md-2">
														<label class="form-label text-primary mb-0" for="{{ form.fecha_valida.id_for_label }}">
															{{ form.fecha_valida.label }}
														</label>
														{{ form.fecha_valida }}
													</div>
													
													<div class="col-md-1">
														<label class="form-label text-primary mb-0" for="{{ form.hora_valida.id_for_label }}">
															{{ form.hora_valida.label }}
														</label>
														{{ form.hora_valida }}
													</div>
													
													<div class="col-md-3">
														<label class="form-label text-primary mb-0" for="{{ form.solicitado.id_for_label }}">
															{{ form.solicitado.label }}
														</label>
														{{ form.solicitado }}
													</div>
													
												</div>
												
												<div class="row">
													<div class="col-md-6">
														<label class="form-label text-primary mb-0" for="{{ form.comentario.id_for_label }}">
															{{ form.comentario.label }}
														</label>
														{{ form.comentario }}
													</div>
													
													<div class="col-md-6">
														<label class="form-label text-primary mb-0" for="{{ form.id_cliente.id_for_label }}">
															{{ form.id_cliente.label }}
														</label>
														{{ form.id_cliente }}
													</div>
												</div>
												
												<div class="row">
													<div class="col-md-2">
														<label class="form-label text-primary mb-0" for="{{ form.compro.id_for_label }}">
															{{ form.compro.label }}
														</label>
														{{ form.compro }}
													</div>
													
													<div class="col-md-2">
														<label class="form-label text-primary mb-0" for="{{ form.numero_comprobante.id_for_label }}">
															{{ form.numero_comprobante.label }}
														</label>
														{{ form.numero_comprobante }}
													</div>
													
													<div class="col-md-2">
														<label class="form-label text-primary mb-0" for="{{ form.hs.id_for_label }}">
															{{ form.hs.label }}
														</label>
														{{ form.hs }}
													</div>
												</div>
											</div>
										</div>
									</div>
									
								</div>
								
								<div class="container mt-3">
									<button class="btn btn-primary" type="submit" id="guardarBtn">
										Guardar
									</button>
									<a class="btn btn-secondary" href="{% url list_view_name %}">
										Cancelar
									</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</main>
		</div>
	{% endblock principalcomponent %}
{% endblock maincomponent %}

<!-- Block Modals -------------------------------------------------------- -->
{% block modals %}
	{{ block.super }}
	
	<!-- Modal para mostrar los requerimientos de los campos -->
	{% include 'maestros/modal_fields_requirements.html' %}
{% endblock modals %}
