<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

<!-- Block Title  ----------------------------------------------------------->
{% block title %}
	Usuarios
{% endblock %}

<!-- Block style  ----------------------------------------------------------->
{% block style %}
{% endblock style %}

{% debug %}

<!-- Block Header ----------------------------------------------------------->
{% block header %}
	{% include 'top_nav.html' %}
{% endblock %}

<!-- Block Main - ----------------------------------------------------------->
{% block main %}
	
	{% block sidebar %}
		{% if user.is_authenticated %} 
			{% include 'sidebar.html' %}
		{% endif %}
	{% endblock sidebar %}
	
	{% block maincomponent %}
		
		{% block principalcomponent %}
			<div id="layoutSidenav_content">
				<main>
					<div class="container-fluid tbl-container">
						
						<div class="card border-secondary mb-3 mt-2">
							
							<div class="card-header bg-primary bg-opacity-25 text-dark d-flex justify-content-between p-1">
								<h4>{{ accion }}</h4>
								<!-- Botón cerrar lista -->
								<button type="button" class="btn-close btn-close-blue" 
									aria-label="Close"
									onclick="window.location.href='{% url list_view_name %}'">
								</button>
							</div>
							
							<div class="card-body">
								{% if form.errors %}
									<div class="alert alert-danger alert-dismissible fade show">
										<ul>
											{% for field in form %}
												{% if field.errors %}
													<li class="text-danger">{{ field.label }}:
														<ul>
															{% for error in field.errors %}
																<li class="text-danger">{{ error }}</li>
															{% endfor %}
														</ul>
													</li>
												{% endif %}
											{% endfor %}
										</ul>
									</div>
								{% endif %}
								
								<form method="post" novalidate>
									{% csrf_token %}
									
									<!-- Datos del Usuario -->
									<div class="bg-primary bg-opacity-75 rounded-2">
										<h6 class="py-2 px-1 text-white">Datos del Usuario</h6>
									</div>
									
 									<div class="row">
										
										<div class="col-md-6">
											<label class="form-label text-primary mb-0">
												{{ form.username.label }}
											</label>
											{{ form.username }}
											<div class="form-text">
												<ul class="mb-0">
													<li>Campo requerido.</li>
													<li>150 carácteres como máximo. Únicamente letras, dígitos y @/./+/-/_</li>
												</ul>
											</div>
										</div>
										
										<div class="col-md-6">
											<label class="form-label text-primary mb-0">
												{{ form.email.label }}
											</label>
											{{ form.email }}
											<div class="form-text">
												<ul class="mb-0">
													<li>Campo requerido.</li>
													<li>150 carácteres como máximo. Únicamente letras, dígitos y @/./+/-/_</li>
												</ul>
											</div>
										</div>
										
									</div>
									
									<!-- ***************************************************************************************************************************** -->
									<div class="row">
										<div class="col-lg-6 mt-2">
											<!-- Información Personal -->
											<div class="bg-primary opacity-75 rounded-2">
												<h6 class="py-2 px-1 text-white">Información Personal</h6>
											</div>
											
											<label class="form-label text-primary mb-0">
												{{ form.first_name.label }}
											</label>
											{{ form.first_name }}
											
											<label class="form-label text-primary mb-0">
												{{ form.last_name.label }}
											</label>
											{{ form.last_name }}
											
											<label class="form-label text-primary mb-0">
												{{ form.iniciales.label }}
											</label>
											{{ form.iniciales }}
											
											<label class="form-label text-primary mb-0">
												{{ form.jerarquia.label }}
											</label>
											{{ form.jerarquia }}
											
										</div>
										<div class="col-lg-6 mt-2">
											<!-- Datos Adicionales -->
											<div class="bg-primary opacity-75 rounded-2">
												<h6 class="py-2 px-1 text-white">Datos Adicionales</h6>
											</div>
											
											<!-- <label class="form-label text-primary mb-0">
												{{ form.email_alt.label }}
											</label>
											{{ form.email_alt }} -->
											
											<label class="form-label text-primary mb-0">
												{{ form.telefono.label }}
											</label>
											{{ form.telefono }}
											
											<label class="form-label text-primary mb-0">
												{{ form.id_punto_venta.label }}
											</label>
											{{ form.id_punto_venta }}
											
											<label class="form-label text-primary mb-0">
												{{ form.id_sucursal.label }}
											</label>
											{{ form.id_sucursal }}
											
											<label class="form-label text-primary mb-0">
												{{ form.id_vendedor.label }}
											</label>
											{{ form.id_vendedor }}
											
										</div>
									</div>
									
									<!-- Permisos -->
									<div class="bg-primary bg-opacity-75 rounded-2 mt-3">
										<h6 class="py-2 px-1 text-white">Permisos</h6>
									</div>
									
									<div class="row mt-3">
										<div class="col-md-2">
											<label class="form-label text-primary mb-0">
												{{ form.is_active }}
												{{ form.is_active.label }}
											</label>
										</div>

										<div class="col-md-2">
											<label class="form-label text-primary mb-0">
												{{ form.is_staff }}
												{{ form.is_staff.label }}
											</label>
										</div>

										<div class="col-md-4">
											<label class="form-label text-primary mb-0">
												{{ form.cambia_precio_descripcion.label }}
											</label>
										</div>

										<div class="col-md-4">
											{{ form.cambia_precio_descripcion }}
										</div>
									</div>
									
									
									<!-- Permisos por Grupos -->
									<div class="card mt-3">
										
										<div class="card-header text-center bg-primary bg-opacity-10">
											Permisos por Grupo
										</div>
										
										<div class="card-body">
											<div class="row">
												<div class="col-md-5 mt-1">
													<label for="grupos-disponibles" class="form-label">Grupos Disponibles</label>
													<select class="form-select" multiple name="grupos-disponibles" id="grupos-disponibles">
														{% for grupo in grupos_disponibles %}
															<option value="{{ grupo.id }}">{{ grupo.name }}</option>
														{% endfor %}
													</select>
												</div>
												
												<div class="col-md-1 botones-permisos align-content-center mt-1">
													<!-- Íconos para pantallas grandes -->
													<a id="grp-asignar-todos" class="d-none d-md-block"><i class="bi bi-chevron-double-right"></i></a>
													<a id="grp-asignar-selec" class="d-none d-md-block"><i class="bi bi-chevron-right"></i></a>
													<a id="grp-quitar-selec" class="d-none d-md-block"><i class="bi bi-chevron-left"></i></a>
													<a id="grp-quitar-todos" class="d-none d-md-block"><i class="bi bi-chevron-double-left"></i></a>
													<!-- Íconos para pantallas pequeñas -->
													<a id="grp-asignar-todos-sm" class="d-md-none"><i class="bi bi-chevron-double-down"></i></a>
													<a id="grp-asignar-selec-sm" class="d-md-none"><i class="bi bi-chevron-down"></i></a>
													<a id="grp-quitar-selec-sm" class="d-md-none"><i class="bi bi-chevron-up"></i></a>
													<a id="grp-quitar-todos-sm" class="d-md-none"><i class="bi bi-chevron-double-up"></i></a>
												</div>
												
												<div class="col-md-5 mt-1">
													<label for="grupos_asignados" class="form-label">Grupos Asignados</label>
													<select class="form-select" multiple name="grupos_asignados" id="grupos_asignados">
														{% for grupo in grupos_asignados %}
															<option value="{{ grupo.id }}">{{ grupo.name }}</option>
														{% endfor %}
													</select>
												</div>
											</div>
											
										</div>
										
									</div>
									
									<!-- Permisos de Usuarios -->
									<div class="card">
										
										<div class="card-header text-center bg-primary bg-opacity-10">
											Permisos de Usuarios
										</div>
										
										<div class="card-body">
											
											<div class="row">
												<div class="col-md-5 mt-1">
													<label for="permisos-disponibles" class="form-label">Permisos Disponibles</label>
													<input type="text" id="filtro-permisos-disponibles" class="form-control my-2" placeholder="Filtrar..." autocomplete="off">
													<select class="form-select" multiple name="permisos-disponibles" id="permisos-disponibles">
														{% for permiso in permisos_disponibles %}
															<option value="{{ permiso.id }}">{{ permiso.content_type }} - {{ permiso.name }}</option>
														{% endfor %}
													</select>
												</div>
												
												<div class="col-md-1 botones-permisos align-content-center mt-1">
													<!-- Íconos para pantallas grandes -->
													<a id="perm-asignar-todos" class="d-none d-md-block"><i class="bi bi-chevron-double-right"></i></a>
													<a id="perm-asignar-selec" class="d-none d-md-block"><i class="bi bi-chevron-right"></i></a>
													<a id="perm-quitar-selec" class="d-none d-md-block"><i class="bi bi-chevron-left"></i></a>
													<a id="perm-quitar-todos" class="d-none d-md-block"><i class="bi bi-chevron-double-left"></i></a>
													
													<!-- Íconos para pantallas pequeñas -->
													<a id="perm-asignar-todos-sm" class="d-md-none"><i class="bi bi-chevron-double-down"></i></a>
													<a id="perm-asignar-selec-sm" class="d-md-none"><i class="bi bi-chevron-down"></i></a>
													<a id="perm-quitar-selec-sm" class="d-md-none"><i class="bi bi-chevron-up"></i></a>
													<a id="perm-quitar-todos-sm" class="d-md-none"><i class="bi bi-chevron-double-up"></i></a>
												</div>
												
												<div class="col-md-5 mt-1">
													<label for="permisos_asignados" class="form-label">Permisos Asignados</label>
													<input type="text" id="filtro-permisos-asignados" class="form-control my-2" placeholder="Filtrar..." autocomplete="off">
													<select class="form-select" multiple name="permisos_asignados" id="permisos_asignados">
														{% for permiso in permisos_asignados %}
															<option value="{{ permiso.id }}">{{ permiso.content_type }} - {{ permiso.name }}</option>
														{% endfor %}
													</select>
												</div>
											</div>
										</div>
										
									</div>
									
									<!-- Botones -->
									<button type="submit" class="btn btn-primary btn-block mt-2" id="botonGuardar">Guardar</button>
									<a href="{% url 'usuario_listar' %}" class="btn btn-secondary mt-2">Cancelar</a>
								</form>
							</div>
						</div>
						
					</div>
				</main>
			</div>
		{% endblock principalcomponent %}
		
	{% endblock maincomponent %}
	
{% endblock main %}

<!-- Block Fotter ----------------------------------------------------------->
{% block footer %}
{% endblock footer %}


<!-- Block script ----------------------------------------------------------->
{% block script %}
	
	{% load static %}
	<script src="{% static 'js/grp_perm.js' %}"></script>
	
	<script>
		document.addEventListener('DOMContentLoaded', function () {
			// Obtener referencias a los selectores.
			let gruposDisponibles = document.getElementById('grupos-disponibles');
			let gruposAsignados = document.getElementById('grupos_asignados');
			
			let permisosDisponibles = document.getElementById('permisos-disponibles');
			let permisosAsignados = document.getElementById('permisos_asignados');
			let filtroPermisosDisponibles = document.getElementById('filtro-permisos-disponibles');
			let filtroPermisosAsignados = document.getElementById('filtro-permisos-asignados');
			
			// Asignar eventos a los elementos.
			// Grupos:
			document.getElementById("grp-asignar-todos").addEventListener("click", function (e) {
				e.preventDefault();
				moverElementosTodos(gruposDisponibles, gruposAsignados);
			});
			document.getElementById("grp-asignar-todos-sm").addEventListener("click", function (e) {
				e.preventDefault();
				moverElementosTodos(gruposDisponibles, gruposAsignados);
			});
			
			document.getElementById("grp-asignar-selec").addEventListener("click", function (e) {
				e.preventDefault();
				moverElementosSeleccionados(gruposDisponibles, gruposAsignados);
			} );
			document.getElementById("grp-asignar-selec-sm").addEventListener("click", function (e) {
				e.preventDefault();
				moverElementosSeleccionados(gruposDisponibles, gruposAsignados);
			} );
			
			document.getElementById("grp-quitar-selec").addEventListener("click", function (e) {
				e.preventDefault();
				moverElementosSeleccionados(gruposAsignados, gruposDisponibles);
			} );
			document.getElementById("grp-quitar-selec-sm").addEventListener("click", function (e) {
				e.preventDefault();
				moverElementosSeleccionados(gruposAsignados, gruposDisponibles);
			} );
			
			document.getElementById("grp-quitar-todos").addEventListener("click", function (e) {
				e.preventDefault();
				moverElementosTodos(gruposAsignados, gruposDisponibles);
			});
			document.getElementById("grp-quitar-todos-sm").addEventListener("click", function (e) {
				e.preventDefault();
				moverElementosTodos(gruposAsignados, gruposDisponibles);
			});
			
			// Permisos:
			document.getElementById("perm-asignar-todos").addEventListener("click", function (e) {
				e.preventDefault();
				moverElementosTodos(permisosDisponibles, permisosAsignados);
			});
			document.getElementById("perm-asignar-todos-sm").addEventListener("click", function (e) {
				e.preventDefault();
				moverElementosTodos(permisosDisponibles, permisosAsignados);
			});
			
			document.getElementById("perm-asignar-selec").addEventListener("click", function (e) {
				e.preventDefault();
				moverElementosSeleccionados(permisosDisponibles, permisosAsignados);
			} );
			document.getElementById("perm-asignar-selec-sm").addEventListener("click", function (e) {
				e.preventDefault();
				moverElementosSeleccionados(permisosDisponibles, permisosAsignados);
			} );
			
			document.getElementById("perm-quitar-selec").addEventListener("click", function (e) {
				e.preventDefault();
				moverElementosSeleccionados(permisosAsignados, permisosDisponibles);
			} );
			document.getElementById("perm-quitar-selec-sm").addEventListener("click", function (e) {
				e.preventDefault();
				moverElementosSeleccionados(permisosAsignados, permisosDisponibles);
			} );
			
			document.getElementById("perm-quitar-todos").addEventListener("click", function (e) {
				e.preventDefault();
				moverElementosTodos(permisosAsignados, permisosDisponibles);
			});
			document.getElementById("perm-quitar-todos-sm").addEventListener("click", function (e) {
				e.preventDefault();
				moverElementosTodos(permisosAsignados, permisosDisponibles);
			});
			
			// Función para filtrar opciones del combobox Permisos Disponibles.
			filtroPermisosDisponibles.addEventListener('input', function () {
				let filtro = filtroPermisosDisponibles.value.toLowerCase();
				for (let i = 0; i < permisosDisponibles.options.length; i++) {
					let opcion = permisosDisponibles.options[i];
					let texto = opcion.text.toLowerCase();
					opcion.style.display = texto.includes(filtro) ? '' : 'none';
				}
			});
			
			// Función para filtrar opciones del combobox Permisos Asignados.
			filtroPermisosAsignados.addEventListener('input', function () {
				let filtro = filtroPermisosAsignados.value.toLowerCase();
				for (let i = 0; i < permisosAsignados.options.length; i++) {
					let opcion = permisosAsignados.options[i];
					let texto = opcion.text.toLowerCase();
					opcion.style.display = texto.includes(filtro) ? '' : 'none';
				}
			});
			
			document.getElementById("botonGuardar").addEventListener("click", function () {
				for (var i = 0; i < gruposAsignados.options.length; i++) {
					gruposAsignados.options[i].selected = true;
				}
				for (var i = 0; i < permisosAsignados.options.length; i++) {
					permisosAsignados.options[i].selected = true;
				}
			});
			
			filtrarAsignados(gruposAsignados, gruposDisponibles);
			filtrarAsignados(permisosAsignados, permisosDisponibles);
		});
	</script>
	
{% endblock script %}
