<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            {% comment %} Accesos Directos Start {% endcomment %}
            <div class="row mt-1 mb-1">  <!-- Cambiado my-1 a mt-1 mb-0 -->
                <!-- Comprobante Electrónico -->
                <div class="col-xl-1 col-md-3 text-center">
                    <a href="{% url 'factura_list' %}" class="text-decoration-none" title="Comprobante Electrónico">
                        <div class="p-2 rounded-3 border border-primary hover-shadow" style="--bs-border-opacity: 0.5; height: 60px; display: flex; align-items: center; justify-content: center;">
                            <i class="fas fa-file-invoice-dollar fs-4 text-info"></i>
                        </div>
                    </a>
                </div>

                <!-- Comprobante Manual -->
                <div class="col-xl-1 col-md-3 text-center">
                    <a href="{% url 'factura_manual_list' %}" class="text-decoration-none" title="Comprobante Manual">
                        <div class="p-2 rounded-3 border border-primary hover-shadow" style="--bs-border-opacity: 0.5; height: 60px; display: flex; align-items: center; justify-content: center;">
                            <i class="fas fa-file-signature fs-4 text-warning"></i>
                        </div>
                    </a>
                </div>

                <!-- Recibo -->
                <div class="col-xl-1 col-md-3 text-center">
                    <a href="{% url 'recibo_list' %}" class="text-decoration-none" title="Recibo">
                        <div class="p-2 rounded-3 border border-primary hover-shadow" style="--bs-border-opacity: 0.5; height: 60px; display: flex; align-items: center; justify-content: center;">
                            <i class="fas fa-hand-holding-usd fs-4 text-success"></i>
                        </div>
                    </a>
                </div>

                <!-- Presupuesto -->
                <div class="col-xl-1 col-md-3 text-center">
                    <a href="{% url 'presupuesto_list' %}" class="text-decoration-none" title="Presupuesto">
                        <div class="p-2 rounded-3 border border-primary hover-shadow" style="--bs-border-opacity: 0.5; height: 60px; display: flex; align-items: center; justify-content: center;">
                            <i class="fas fa-file-invoice fs-4 text-secondary"></i>
                        </div>
                    </a>
                </div>

                <!-- Clientes -->
                <div class="col-xl-1 col-md-3 text-center">
                    <a href="{% url 'cliente_list' %}" class="text-decoration-none" title="Clientes">
                        <div class="p-2 rounded-3 border border-primary hover-shadow" style="--bs-border-opacity: 0.5; height: 60px; display: flex; align-items: center; justify-content: center;">
                            <i class="fas fa-users fs-4 text-purple"></i>
                        </div>
                    </a>
                </div>

                <!-- Productos -->
                <div class="col-xl-1 col-md-3 text-center">
                    <a href="{% url 'producto_list' %}" class="text-decoration-none" title="Productos">
                        <div class="p-2 rounded-3 border border-primary hover-shadow" style="--bs-border-opacity: 0.5; height: 60px; display: flex; align-items: center; justify-content: center;">
                            <i class="fas fa-boxes fs-4 text-primary"></i>
                        </div>
                    </a>
                </div>

                <!-- Resumen de Cuenta Corriente -->
                <div class="col-xl-1 col-md-3 text-center">
                    <a href="{% url 'vlresumenctacte_informe_list' %}" class="text-decoration-none" title="Resumen de Cuenta Corriente">
                        <div class="p-2 rounded-3 border border-primary hover-shadow" style="--bs-border-opacity: 0.5; height: 60px; display: flex; align-items: center; justify-content: center;">
                            <i class="fas fa-chart-pie fs-4 text-danger"></i>
                        </div>
                    </a>
                </div>

                <!-- Consulta de Facturas por Cliente    -->
                <div class="col-xl-1 col-md-3 text-center">
                    <a href="{% url 'consulta_facturas_cliente' %}" class="text-decoration-none" title="Consulta de Facturas por Cliente">
                        <div class="p-2 rounded-3 border border-primary hover-shadow" style="--bs-border-opacity: 0.5; height: 60px; display: flex; align-items: center; justify-content: center;">
                            <i class="fas fa-search-dollar fs-4 text-danger"></i>
                        </div>
                    </a>
                </div>
                
                <!-- Consulta de Precios -->
                <div class="col-xl-1 col-md-3 text-center">
                    <a href="{% url 'consulta_productos_stock' %}" class="text-decoration-none" title="Consulta de Precios">
                        <div class="p-2 rounded-3 border border-primary hover-shadow" style="--bs-border-opacity: 0.5; height: 60px; display: flex; align-items: center; justify-content: center;">
                            <i class="fas fa-boxes fs-4 text-danger"></i>
                        </div>
                    </a>
                </div>

            </div>
            {% comment %} Accesos Directos End {% endcomment %}
            
            {% comment %} Módulos Start{% endcomment %}
            <div class="row mt-0 mb-1">  <!-- Cambiado my-1 a mt-0 mb-1 -->
                <div class="col-xl-2 col-md-3">
                    <div class="card bg-primary bg-opacity-25 text-dark mb-3">  <!-- Reducido mb-4 a mb-3 -->
                        <div class="card-body">Archivo</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-blue stretched-link" href="#">Ver Detalles</a>
                            <div class="small text-dark"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-2 col-md-3">
                    <div class="card bg-success bg-opacity-25 text-dark mb-3">  <!-- Reducido mb-4 a mb-3 -->
                        <div class="card-body">Ventas</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-blue stretched-link" href="#">Ver Detalles</a>
                            <div class="small text-dark"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-2 col-md-3">
                    <div class="card bg-primary bg-opacity-25 text-dark mb-3">  <!-- Reducido mb-4 a mb-3 -->
                        <div class="card-body">Compras</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-blue stretched-link" href="#">Ver Detalles</a>
                            <div class="small text-dark"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-2 col-md-3">
                    <div class="card bg-success bg-opacity-25 text-dark mb-3">  <!-- Reducido mb-4 a mb-3 -->
                        <div class="card-body">Caja</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-blue stretched-link" href="#">Ver Detalles</a>
                            <div class="small text-dark"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-md-3">
                    <div class="card bg-primary bg-opacity-25 text-dark mb-3">  <!-- Reducido mb-4 a mb-3 -->
                        <div class="card-body">Inventario</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-blue stretched-link" href="#">Ver Detalles</a>
                            <div class="small text-dark"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-md-3">
                    <div class="card bg-success bg-opacity-25 text-dark mb-3">  <!-- Reducido mb-4 a mb-3 -->
                        <div class="card-body">Informes</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-blue stretched-link" href="#">Ver Detalles</a>
                            <div class="small text-dark"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            {% comment %} Módulos End{% endcomment %}

            

            {% comment %} Gráficos Start{% endcomment %}
            <div class="row">
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-area me-1"></i>
                            Ventas del Mes
                        </div>
                        <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-bar me-1"></i>
                            Gastos Mensuales
                        </div>
                        <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                    </div>
                </div>
            </div>
            {% comment %} Gráficos End{% endcomment %}
            
        </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; Your Website 2023</div>
                <div>
                    <a href="#">Privacy Policy</a>
                    &middot;
                    <a href="#">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>
</div>