<!-- neumatic\apps\informes\templates\informes\reportes\tipoiva_list.html -->

{% extends 'informes/reportes/base_reportes.html' %}
{% load static %}
{% load custom_tags %}

<!-- Bloque Header ------------------------------------------------------------------------- -->

<!-- Contenido Inferior Izquierdo -->
{% block header_bottom_left %}
	{% for param, valor in parametros_i.items %}
		<p class="compact-line-spacing"><strong>{{ param }}:</strong> {{ valor }}</p>
	{% endfor %}
{% endblock %}

<!-- Contenido Inferior Derecho -->
{% block header_bottom_right %}
	{% for param, valor in parametros_d.items %}
		<p class="compact-line-spacing"><strong>{{ param }}:</strong> {{ valor }}</p>
	{% endfor %}
{% endblock %}

<!-- Bloque Content ------------------------------------------------------------------------ -->

{% block content %}
	<br>
	<table style="max-width: 80%; margin: auto;">
		
		<thead>
			<tr>
				<th>Estatus</th>
				<th>Nombre</th>
				<th>Tipo</th>
				<th>Discrimina IVA</th>
			</tr>
		</thead>
		
		<tbody>
			
			{% for obj in objetos %}
				<tr>
					<td>{{ obj.estatus_tipo_iva|get_estatus }}</td>
					<td>{{ obj.nombre_iva }}</td>
					<td>{{ obj.codigo_iva }}</td>
					<td>{{ obj.discrimina_iva|get_si_no }}</td>
				</tr>
			{% endfor %}
			
		</tbody>
	</table>
	
{% endblock content %}