<!-- neumatic\apps\informes\templates\informes\reportes\tipopercepcionib_list.html -->

{% extends 'informes/reportes/base_reportes.html' %}
{% load static %}
{% load custom_tags %}

<!-- Bloque Header ------------------------------------------------------------------------- -->

<!-- Contenido Inferior Izquierdo -->
{% block header_bottom_left %}
	{% for param, valor in parametros_i.items %}
		<p class="compact-line-spacing"><strong>{{ param }}:</strong> {{ valor }}</p>
	{% endfor %}
{% endblock %}

<!-- Contenido Inferior Derecho -->
{% block header_bottom_right %}
	{% for param, valor in parametros_d.items %}
		<p class="compact-line-spacing"><strong>{{ param }}:</strong> {{ valor }}</p>
	{% endfor %}
{% endblock %}

<!-- Bloque Content ------------------------------------------------------------------------ -->

{% block content %}
	<br>
	<table style="max-width: 80%; margin: auto;">
		
		<thead>
			<tr>
				<th>Estatus</th>
				<th>Descripción</th>
				<th class="numeric" style="padding-right: 15px;">Alícuota(%)</th>
				<th class="numeric" style="padding-right: 15px;">Monto</th>
				<th class="numeric" style="padding-right: 15px;">Mínimo</th>
				<th>Neto total</th>
			</tr>
		</thead>
		
		<tbody>
			
			{% for obj in objetos %}
				<tr>
					<td>{{ obj.estatus_tipo_percepcion_ib|get_estatus }}</td>
					<td>{{ obj.descripcion_tipo_percepcion_ib }}</td>
					<td class="numeric" style="padding-right: 15px;">{{ obj.alicuota|formato_es_ar }}</td>
					<td class="numeric" style="padding-right: 15px;">{{ obj.monto|formato_es_ar }}</td>
					<td class="numeric" style="padding-right: 15px;">{{ obj.minimo|formato_es_ar }}</td>
					<td>{{ obj.neto_total|get_si_no }}</td>
				</tr>
			{% endfor %}
			
		</tbody>
	</table>
	
{% endblock content %}