<!-- neumatic\apps\informes\templates\informes\reportes\vlfacturas_pendientes_vendedor_list.html -->

{% extends 'informes/reportes/base_reportes.html' %}
{% load static %}
{% load custom_tags %}

<!-- Bloque Header ------------------------------------------------------------------------- -->

<!-- Contenido Inferior Izquierdo -->
{% block header_bottom_left %}
	{% for param, valor in parametros_i.items %}
		<p class="compact-line-spacing"><strong>{{ param }}:</strong> {{ valor }}</p>
	{% endfor %}
{% endblock %}

<!-- Contenido Inferior Derecho -->
{% block header_bottom_right %}
	{% for param, valor in parametros_d.items %}
		<p class="compact-line-spacing"><strong>{{ param }}:</strong> {{ valor }}</p>
	{% endfor %}
{% endblock %}

<!-- Bloque Content ------------------------------------------------------------------------ -->

{% block content %}
	<table>
		<thead>
			<tr>
				<th></th>
				<th>Comprobante</th>
				<th>Número</th>
				<th>Fecha</th>
				<th>Remito</th>
				<th class="numeric">Total Comp.</th>
				<th class="numeric">Entrega</th>
				<th class="numeric">Saldo</th>
				<th class="numeric">Intereses</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			
			{% for cliente, cliente_data in objetos.items %}
				<!-- Fila con los datos del Cliente -->
				<tr>
					<td colspan="10" style="padding-top: 5px;">
						<strong>Cliente: [{{cliente_data.cliente_id}}] {{ cliente }}</strong>
					</td>
				</tr>
				
				{% for dato in cliente_data.datos %}
					<tr>
						<td></td>
						<td>{{ dato.nombre_comprobante_venta }}</td>
						<td>{{ dato.numero }}</td>
						<td>{{ dato.fecha_comprobante|date:"d/m/Y" }}</td>
						<td>{{ dato.remito }}</td>
						<td class="numeric">{{ dato.total|formato_es_ar }}</td>
						<td class="numeric">{{ dato.entrega|formato_es_ar }}</td>
						<td class="numeric">{{ dato.saldo_acumulado|formato_es_ar }}</td>
						<td class="numeric">{{ dato.intereses|formato_es_ar }}</td>
						<td>{{ dato.marca }}</td>
					</tr>
				{% endfor %}
				
				<tr>
					<td class="numeric" colspan="8"><strong>Total Intereses:</strong></td>
					<td class="numeric"><strong>{{ intereses_total|formato_es_ar }}</strong></td>
					<td></td>
				</tr>
				<tr>
					<td class="numeric" colspan="8"><strong>Total Cliente {{ cliente }}:</strong></td>
					<td class="numeric"><strong>{{ cliente_data.total_cliente|formato_es_ar }}</strong></td>
					<td></td>
				</tr>
				
				<tr>
					<td colspan="10"><hr></td>
				</tr>
				
			{% endfor %}
			<tr>
				<td class="numeric" colspan="8"><strong>Total General:</strong></td>
				<td class="numeric"><strong>{{ total_general|formato_es_ar }}</strong></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<p><strong>Observaciones:</strong> {{ observaciones }}</p>
{% endblock content %}