<!-- neumatic\apps\informes\templates\informes\reportes\vllistarevendedor_list.html -->

{% extends 'informes/reportes/base_reportes.html' %}
{% load static %}
{% load custom_tags %}

<!-- Bloque Header ------------------------------------------------------------------------- -->
 
<!-- Contenido Inferior Izquierdo -->
{% block header_bottom_left %}
	{% for param, valor in parametros_i.items %}
		<p class="compact-line-spacing"><strong>{{ param }}:</strong> {{ valor }}</p>
	{% endfor %}
{% endblock %}

<!-- Contenido Inferior Derecho -->
{% block header_bottom_right %}
	{% for param, valor in parametros_d.items %}
		<p class="compact-line-spacing"><strong>{{ param }}:</strong> {{ valor }}</p>
	{% endfor %}
{% endblock %}

<!-- Bloque Content ------------------------------------------------------------------------ -->

{% block content %}
	<br>
	<table>
		<thead>
			<tr>
				<th style="width: 20px;"></th>
				<th>Código</th>
				<th>Medida</th>
				<th>Descripción</th>
				<th class="numeric">Contado</th>
				<th class="numeric">30 días</th>
				<th class="numeric">0-90 días</th>
				<th class="numeric">0-120 días</th>
			</tr>
		</thead>
		<tbody>
			
			{% for familia_data in objetos.values %}
				<!-- Fila con los datos de la Familia -->
				<tr>
					<td colspan="8" style="padding-top: 5px;">
						<strong>Familia: {{ familia_data.familia }}</strong>
					</td>
				</tr>
				
				<!-- Filas con el detalle del Modelo -->
				{% for det in familia_data.detalle %}
					<tr>
						<td></td>
						<td>{{ det.id_producto }}</td>
						<td>{{ det.medida }}</td>
						<td>{{ det.nombre_producto }}</td>
						<td class="numeric">{{ det.contado|formato_es_ar }}</td>
						<td class="numeric">{{ det.precio30|formato_es_ar }}</td>
						<td class="numeric">{{ det.precio90|formato_es_ar }}</td>
						<td class="numeric">{{ det.precio120|formato_es_ar }}</td>
					</tr>
				{% endfor %}
				
				<tr>
					<td colspan="8"><hr></td>
				</tr>
			
			{% endfor %}
			
		</tbody>
		
	</table>
{% endblock content %}