<!-- neumatic\apps\informes\templates\informes\reportes\vlremitosclientes_list.html -->

{% extends 'informes/reportes/base_reportes.html' %}
{% load static %}
{% load custom_tags %}

<!-- Bloque Header ------------------------------------------------------------------------- -->

<!-- Contenido Inferior Izquierdo -->
{% block header_bottom_left %}
	{% for param, valor in parametros_i.items %}
		<p class="compact-line-spacing"><strong>{{ param }}:</strong> {{ valor }}</p>
	{% endfor %}
{% endblock %}

<!-- Contenido Inferior Derecho -->
{% block header_bottom_right %}
	{% for param, valor in parametros_d.items %}
		<p class="compact-line-spacing"><strong>{{ param }}:</strong> {{ valor }}</p>
	{% endfor %}
{% endblock %}

<!-- Bloque Content ------------------------------------------------------------------------ -->

{% block content %}
	<table>
		
		<thead>
			<tr>
				<th>Fecha</th>
				<th>Número</th>
				<th>Descripción</th>
				<th>Medida</th>
				<th class="numeric">Cantidad</th>
				<th class="numeric">Precio</th>
				<th class="numeric">Total</th>
			</tr>
		</thead>
		
		<tbody>
			{% for data in objetos.values %}
				{% for producto in data.productos %}
					<tr class="compact-line-spacing">
						<td>{{ producto.fecha_comprobante|date:"d/m/Y" }}</td>
						<td>{{ producto.numero }}</td>
						<td>{{ producto.nombre_producto }}</td>
						<td>{{ producto.medida }}</td>
						<td class="numeric">{{ producto.cantidad|formato_es_ar }}</td>
						<td class="numeric">{{ producto.precio|formato_es_ar }}</td>
						<td class="numeric">{{ producto.total|formato_es_ar }}</td>
					</tr>
				{% endfor %}
				<tr class="subtotal">
					<td colspan="6" style="text-align: right;"><strong>Total Comprobante:</strong></td>
					<td class="numeric"><strong>{{ data.subtotal|formato_es_ar }}</strong></td>
				</tr>
				
				<tr>
					<td colspan="7"><hr></td>
				</tr>
				
			{% endfor %}
			
			<tr class="total-general">
				<td class="numeric" colspan="6"><strong>Total Remitado:</strong></td>
				<td class="numeric"><strong>{{ total_general|formato_es_ar }}</strong></td>
			</tr>
			
		</tbody>
		
	</table>
{% endblock content %}