<!-- neumatic\apps\informes\templates\informes\reportes\vlventasresumenib_list.html -->

{% extends 'informes/reportes/base_reportes.html' %}
{% load static %}
{% load custom_tags %}

<!-- Bloque Header ------------------------------------------------------------------------- -->

<!-- Contenido Inferior Izquierdo -->
{% block header_bottom_left %}
	{% for param, valor in parametros_i.items %}
		<p class="compact-line-spacing"><strong>{{ param }}:</strong> {{ valor }}</p>
	{% endfor %}
{% endblock %}

<!-- Contenido Inferior Derecho -->
{% block header_bottom_right %}
	{% for param, valor in parametros_d.items %}
		<p class="compact-line-spacing"><strong>{{ param }}:</strong> {{ valor }}</p>
	{% endfor %}
{% endblock %}

<!-- Bloque Content ------------------------------------------------------------------------ -->

{% block content %}
	<table>
		
		<thead>
			<tr>
				<th>Provincia</th>
				<th class="numeric">Por Menor</th>
				<th class="numeric">Reparación</th>
				<th class="numeric">Por Mayor</th>
				<th class="numeric">Total Gravado</th>
				<th class="numeric">I.V.A.</th>
				<th class="numeric">TOTAL</th>
			</tr>
		</thead>
		
		<tbody>
			
			{% for obj in objetos %}
				<tr>
					<td>{{ obj.provincia }}</td>
					<td class="numeric">{{ obj.por_menor|formato_es_ar }}</td>
					<td class="numeric">{{ obj.reparacion|formato_es_ar }}</td>
					<td class="numeric">{{ obj.por_mayor|formato_es_ar }}</td>
					<td class="numeric">{{ obj.total_gravado|formato_es_ar }}</td>
					<td class="numeric">{{ obj.iva|formato_es_ar }}</td>
					<td class="numeric">{{ obj.total|formato_es_ar }}</td>
				</tr>
			{% endfor %}
			<!-- Totales -->
			<tr style="border-top: 1px solid #000;">
				<td style="text-align: right;"><strong>Totales:</strong></td>
				<td class="numeric"><strong>{{ tg_pmenor|formato_es_ar }}</strong></td>
				<td class="numeric"><strong>{{ tg_reparacion|formato_es_ar }}</strong></td>
				<td class="numeric"><strong>{{ tg_pmayor|formato_es_ar }}</strong></td>
				<td class="numeric"><strong>{{ tg_gravado|formato_es_ar }}</strong></td>
				<td class="numeric"><strong>{{ tg_iva|formato_es_ar }}</strong></td>
				<td class="numeric"><strong>{{ tg_total|formato_es_ar }}</strong></td>
			</tr>
			
		</tbody>
	</table>
{% endblock content %}