<!-- neumatic\apps\informes\templates\informes\buscador_vlestadisticasseguncondicion.html -->
<div class="row">
	
	<div class="col-md-4">
		{{ form.sucursal.label }}
		{{ form.sucursal }}
	</div>
	
</div>

<div class="row">
	
	<div class="col-md-2">
		{{ form.fecha_desde.label }}
		{{ form.fecha_desde }}
	</div>
	
	<div class="col-md-2">
		{{ form.fecha_hasta.label }}
		{{ form.fecha_hasta }}
	</div>
	
	<div class="col-md-2">
		{{ form.id_marca_desde.label }}
		{{ form.id_marca_desde }}
	</div>
	
	<div class="col-md-2">
		{{ form.id_marca_hasta.label }}
		{{ form.id_marca_hasta }}
	</div>
</div>

<div class="row">
	
	<div class="col-md-2">
		{{ form.agrupar.label }}
		{{ form.agrupar }}
	</div>
	
	<div class="col-md-2 d-flex align-items-center">
		<div class="form-check mt-lg-4">
			<!-- <label class="form-check-label form-label text-primary"> -->
			<label for="{{ form.imprimir_importes.id_for_label }}">
				{{ form.imprimir_importes }}
				{{ form.imprimir_importes.label }}
			</label>
		</div>
	</div>
</div>
