<!-- neumatic\apps\informes\templates\informes\buscador_cliente.html -->

<div class="row">
	
	<div class="col-md-2">
		{{ form.estatus.label }}
		{{ form.estatus }}
	</div>
	
	<div class="col-md-2">
		{{ form.orden.label }}
		{{ form.orden }}
	</div>
	
	<div class="col-md-4">
		{{ form.desde.label }}
		{{ form.desde }}
	</div>
	
	<div class="col-md-4">
		{{ form.hasta.label }}
		{{ form.hasta }}
	</div>
	
</div>

<div class="row">
	
	<div class="col-md-4">
		{{ form.vendedor.label }}
		{{ form.vendedor }}
	</div>
	
	<div class="col-md-4">
		{{ form.provincia.label }}
		{{ form.provincia }}
	</div>
	
	<div class="col-md-4">
		{{ form.localidad.label }}
		{{ form.localidad }}
	</div>
	
</div>
