<!-- neumatic\apps\informes\templates\informes\buscador_vlstocksucursal.html -->

<div class="row">
	
	<div class="col-md-4">
		{{ form.deposito.label }}
		{{ form.deposito }}
	</div>
	
</div>

<div class="row">
	
	<div class="col-md-2">
		{{ form.id_familia_desde.label }}
		{{ form.id_familia_desde }}
	</div>
	
	<div class="col-md-2">
		{{ form.id_familia_hasta.label }}
		{{ form.id_familia_hasta }}
	</div>
	
	<div class="col-md-2">
		{{ form.id_marca_desde.label }}
		{{ form.id_marca_desde }}
	</div>
	
	<div class="col-md-2">
		{{ form.id_marca_hasta.label }}
		{{ form.id_marca_hasta }}
	</div>
	
	<div class="col-md-2">
		{{ form.id_modelo_desde.label }}
		{{ form.id_modelo_desde }}
	</div>
	
	<div class="col-md-2">
		{{ form.id_modelo_hasta.label }}
		{{ form.id_modelo_hasta }}
	</div>
	
</div>

<div class="row">
	<div class="col-md-4 d-flex align-items-center">
		<div class="form-check mt-lg-4">
			<label for="{{ form.valorizado.id_for_label }}">
				{{ form.valorizado }}
				{{ form.valorizado.label }}
			</label>
		</div>
	</div>
</div>
