<!-- neumatic\apps\informes\templates\informes\buscador_vlfichaseguimientostock.html -->
<div class="row">
	
	<div class="col-md-4">
		{{ form.sucursal.label }}
		{{ form.sucursal }}
	</div>
	
	<div class="col-md-2">
		{{ form.fecha_desde.label }}
		{{ form.fecha_desde }}
	</div>
	
	<div class="col-md-2">
		{{ form.fecha_hasta.label }}
		{{ form.fecha_hasta }}
	</div>
	
</div>

<div class="row">
	
	<div class="col-md-2">
		{{ form.codigo.label }}
		{{ form.codigo }}
	</div>
	
	<div class="col-md-2">
		{{ form.cai.label }}
		{{ form.cai }}
	</div>
	
</div>

<div class="row">
	
	<div class="col-md-2">
		{{ form.medida.label }}
		{{ form.medida }}
	</div>
	
	<div class="col-md-4">
		{{ form.producto.label }}
		{{ form.producto }}
	</div>
	
	<div class="col-md-4">
		{{ form.marca.label }}
		{{ form.marca }}
	</div>
	
</div>
