<!-- neumatic\apps\informes\templates\informes\buscador_vlventasresumnib.html -->
 
<div class="row">
	
	<div class="col-md-4">
		{{ form.sucursal.label }}
		{{ form.sucursal }}
	</div>
	
	<div class="col-md-2">
		{{ form.mes.label }}
		{{ form.mes }}
	</div>
	
	<div class="col-md-2">
		{{ form.anno.label }}
		{{ form.anno }}
	</div>
	
	<div class="col-md-2">
		{{ form.importe_max.label }}
		{{ form.importe_max }}
	</div>
	
</div>

<div class="row">
	
	<div class="col-md-4">
		{{ form.provincias.label }}
		{{ form.provincias }}
	</div>

</div>