<!-- neumatic\apps\informes\templates\informes\buscador_vlpreciodiferente.html -->
 
<div class="row">
	
	<div class="col-md-2">
		{{ form.fecha_desde.label }}
		{{ form.fecha_desde }}
	</div>
	
	<div class="col-md-2">
		{{ form.fecha_hasta.label }}
		{{ form.fecha_hasta }}
	</div>
	
	<div class="col-md-2">
		{{ form.id_vendedor_desde.label }}
		{{ form.id_vendedor_desde }}
	</div>
	
	<div class="col-md-2">
		{{ form.id_vendedor_hasta.label }}
		{{ form.id_vendedor_hasta }}
	</div>
	
	<div class="col-md-2">
		{{ form.dif_mayor.label }}
		{{ form.dif_mayor }}
	</div>
	
</div>

<div class="row">
	
	<div class="col-md-4">
		{{ form.comprobantes.label }}
		{{ form.comprobantes }}
	</div>
	
	<div class="col-md-2">
		{{ form.orden.label }}
		{{ form.orden }}
	</div>
	
</div>