<!-- neumatic\apps\informes\templates\informes\buscador_vlestadisticasventasprovincia.html -->
<div class="row">
	
	<div class="col-md-4">
		{{ form.sucursal.label }}
		{{ form.sucursal }}
	</div>
	
	<div class="col-md-4">
		{{ form.vendedor.label }}
		{{ form.vendedor }}
	</div>
	
	<div class="col-md-4">
		{{ form.provincia.label }}
		{{ form.provincia }}
	</div>
	
</div>

<div class="row">
	
	<div class="col-md-2">
		{{ form.fecha_desde.label }}
		{{ form.fecha_desde }}
	</div>
	
	<div class="col-md-2">
		{{ form.fecha_hasta.label }}
		{{ form.fecha_hasta }}
	</div>
	
	<div class="col-md-2">
		{{ form.id_marca_desde.label }}
		{{ form.id_marca_desde }}
	</div>
	
	<div class="col-md-2">
		{{ form.id_marca_hasta.label }}
		{{ form.id_marca_hasta }}
	</div>
</div>

<div class="row">
	
	<div class="col-md-2">
		{{ form.agrupar.label }}
		{{ form.agrupar }}
	</div>
	
	<div class="col-md-2">
		{{ form.mostrar.label }}
		{{ form.mostrar }}
	</div>

</div>
