<!-- neumatic\apps\informes\templates\informes\buscador_vlestadisticasventasmarcavendedor.html -->
<div class="row">
	
	<div class="col-md-4">
		{{ form.sucursal.label }}
		{{ form.sucursal }}
	</div>
	
	<div class="col-md-4">
		{{ form.marca.label }}
		{{ form.marca }}
	</div>
	
	<div class="col-md-4">
		{{ form.vendedor.label }}
		{{ form.vendedor }}
	</div>
	
</div>

<div class="row">
	
	<div class="col-md-2">
		{{ form.fecha_desde.label }}
		{{ form.fecha_desde }}
	</div>
	
	<div class="col-md-2">
		{{ form.fecha_hasta.label }}
		{{ form.fecha_hasta }}
	</div>
	
	<div class="col-md-2">
		{{ form.comision.label }}
		{{ form.comision }}
	</div>
	
</div>
