<!-- neumatic\apps\informes\templates\informes\buscador_vldetallecompraproveedor.html -->
<div class="row">
	
	<div class="col-md-4">
		{{ form.proveedor.label }}
		{{ form.proveedor }}
	</div>
	
</div>

<div class="row">
	
	<div class="col-md-4">
		{{ form.sucursal.label }}
		{{ form.sucursal }}
	</div>
	
</div>

<div class="row">
	
	<div class="col-md-2">
		{{ form.fecha_desde.label }}
		{{ form.fecha_desde }}
	</div>
	
	<div class="col-md-2">
		{{ form.fecha_hasta.label }}
		{{ form.fecha_hasta }}
	</div>
	
</div>
